@tailwind base;
@tailwind components;
@tailwind utilities;

#hero::before {
  background: url("./assets/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media (min-width: 1024px) {
  #hero::before {
    background: url("./assets/bg-pattern-intro-left-desktop.svg"),
      url("./assets/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position:
      left bottom,
      right top;
  }
}
